footer {
  background: #0c0c0c;
  width: 100%;

  .footer-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1.75rem 1.75rem;
    flex-direction: column;

    @include for-tablet-landscape-up {
      padding: 4rem 2.25rem;
      flex-direction: row;
    }
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include for-tablet-landscape-up {
      flex-direction: row;
    }
  }

  .footer-contact {
    display: flex;
    flex-direction: column;

    .footer-contact-image img {
      height: 3rem;
      width: auto;
    }
  }

  .footer-contact-details {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-top: 1rem;
    align-items: center;

    @include for-tablet-landscape-up {
      align-items: baseline;
      margin-left: 3rem;
      margin-top: 0;
    }

    span {
      padding: 0.25rem 0;
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;

    @include for-tablet-landscape-up {
      margin-top: 0;
      align-items: flex-end;
      width: 50%;
    }

    .footer-right-social {
      flex: 1;
      align-items: flex-end;
      font-weight: 500;
      margin-bottom: 1rem;
      display: none;

      @include for-tablet-landscape-up {
        display: flex;
      }
    }
  }

  .footer-social-media-icons {
    display: flex;
    flex-direction: row;

    .footer-social-media-icon {
      padding: 0 0.5rem;
      cursor: pointer;

      svg {
        width: 1.5rem;
        height: auto;
        fill: #fff;
      }
    }
  }
}
