header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-color;
  height: 3.5rem;
  z-index: 99;
  transition: box-shadow 0.25s ease-in-out;

  &.header-scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .header-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;

    @include for-tablet-landscape-up {
      padding: 0 2rem;
      justify-content: space-between;
    }
  }

  .header-tabs {
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
    display: none;
    
    @include for-tablet-landscape-up {
      display: flex;
    }
  }

  .header-tab {
    padding: 0 1rem;
    min-width: 7rem;
    height: 100%;
    font-weight: 500;
    transition: color 0.2s ease-in-out, background-color 0.075s ease-in-out;

    a {
      color: inherit;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.selected {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;

      &:hover {
        color: darken($primary-color, 15);
      }
    }

    &:hover {
      background: rgba($primary-color, 0.05);
      cursor: pointer;
      color: #000;
    }
  }

  .header-logo {
    margin-left: 1rem;

    @include for-tablet-landscape-up {
      margin-left: 2rem;

      img {
        height: 2rem;
      }
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    img {
      height: 1.5rem;
      width: auto;
    }
  }
}
