.home-image-wrapper {
  padding: 0 2rem 2rem 2rem;

  @include for-phone-only {
    padding: 0;
  }

  .home-image {
    width: 100%;
    min-height: 16.5rem;
    object-fit: cover;

    @include for-tablet-portrait-up {
      @include applyRounded;
      margin-top: 4rem;
    }
  }
}

main {
  .content {
    &.home-page {
      margin-top: 2rem;
      padding: 0 1rem;
      margin-bottom: 4rem;

      @include for-tablet-portrait-up {
        padding: 0 2rem;
        margin-bottom: 7.5rem;
      }
    }
  }
}

.main-intro {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2rem;
  align-items: center;

  @include for-desktop-up {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-image-wrapper {
  padding: 2rem 0;

  @include for-desktop-up {
    padding: 2rem;
  }

  .main-image {
    @include applyRounded;
    width: 100%;
    height: auto;
  }
}

.main-paragraph {
  letter-spacing: -0.5px;
  line-height: 1.8rem;
  font-size: 1.5rem;
  max-width: 50rem;
  font-weight: 500;
}

.main-welcome {
  font-weight: 700;
  font-size: 3.5rem;

  @include for-tablet-portrait-up {
    font-size: 4.5rem;
  }

  @include for-desktop-up {
    font-size: 7.5rem;
  }
}

.main-commitment {
  margin-top: 3rem;

  @include for-desktop-up {
    margin-top: 4rem;
  }

  .main-commitment-heading {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3rem;

    @include for-phone-only {
      text-align: center;
    }

    @include for-tablet-portrait-up {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    @include for-desktop-up {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  .commitments {
    display: grid;
    grid-gap: 3.5rem;
    grid-template-columns: 1fr;

    @include for-tablet-portrait-up {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-desktop-up {
      grid-template-columns: repeat(3, 1fr);
    }

    .commitment-item {
      align-items: center;
      display: flex;
      flex-direction: column;

      .commitment-circle {
        width: 10rem;
        height: 10rem;
        background: #37a13c;
        color: #fafafa;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 3.25rem;

        @include for-tablet-landscape-up {
          width: 15rem;
          height: 15rem;
          font-size: 5rem;
        }
      }

      .commitment-desc {
        font-weight: 500;
        font-size: 1.5rem;
        margin-top: 1.5rem;
        text-align: center;
        line-height: 1.6rem;
      }
    }
  }
}

.todays-menu {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 4rem;

  @include for-tablet-landscape-up {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  @include for-desktop-up {
    font-size: 3rem;
  }
}

.restaurants-grid {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2.5rem;
  color: $text-color-dark;
  grid-template-columns: 1fr;

  @include for-tablet-landscape-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop-up {
    grid-template-columns: repeat(3, 1fr);
  }

  .restaurant-item {
    background: #eee;
    @include applyRounded;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-phone-only {
      padding: 1rem;
    }

    .restaurant-name {
      font-weight: 700;
      font-size: 3rem;
      align-items: center;
      display: flex;
      height: 100%;
      margin-left: 0.5rem;

      @include for-phone-only {
        margin-top: 1rem;
      }
    }

    &.restaurant-1 {
      background: $pastelle-color-1;

      .restaurant-menu {
        background: $pastelle-color-1-darker;
        border: 1px solid color-darken($pastelle-color-1, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-1, 15%) !important;
        }
      }
    }

    &.restaurant-2 {
      background: $pastelle-color-2;

      .restaurant-menu {
        background: $pastelle-color-2-darker;
        border: 1px solid color-darken($pastelle-color-2, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-2, 15%) !important;
        }
      }
    }

    &.restaurant-3 {
      background: $pastelle-color-3;

      .restaurant-menu {
        background: $pastelle-color-3-darker;
        border: 1px solid color-darken($pastelle-color-3, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-3, 15%) !important;
        }
      }
    }

    .restaurant-menu {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      @include applyRounded;

      .menu-category {
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        .menu-category-header {
          font-weight: 500;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }

        .menu-category-detail {
          margin-bottom: 0.5rem;
          color: rgba(0, 0, 0, 0.8);
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
  }
}

.nutrition-values {
  display: flex;

  // TODO: should have a tooltip or something when hovered
  .food-nutrition-tag {
    border-radius: 0.75rem;
    min-height: 1rem;
    padding: 0.25rem;
    min-width: 2rem;
    text-align: center;
    margin-right: 0.35rem;
    font-size: 0.75rem;
    border: 1px solid #0000006b;
    font-weight: 500;
    background: #fff;
  }
}
