.mobile-menu-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.mobile-nav {
  z-index: 300;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 5rem);
  height: 100vh;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  opacity: 0;
}

.nav-open {
  .mobile-nav {
    transform: translateX(0);
    opacity: 1;
  }

  .mobile-backdrop {
    display: block;
  }
}

.mobile-backdrop {
  z-index: 299;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
