.mobile-menu-button {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;

  // https://stackoverflow.com/questions/25704650/disable-blue-highlight-when-touch-press-object-with-cursorpointer
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.mobile-nav {
  z-index: 300;
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 5rem);
  height: 100vh;
  background: #fff;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;

  .mobile-nav-bottom {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding: 1rem;
    font-weight: 500;
  }

  .mobile-nav-logo {
    height: 3.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(206, 206, 206);

    img {
      height: 2rem;
      width: auto;
    }
  }

  .mobile-tabs {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .mobile-tab {
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-weight: 500;
    transition: background-color 0.075s ease-in-out;

    &.selected {
      color: #000;
      background: rgba(darken($primary-color, 5), 0.5);

      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }

    &:hover {
      background: rgba($primary-color, 0.15);
    }

    a {
      text-decoration: none;
      width: 100%;
      height: 100%;
      padding: 1rem 1.2rem;
      color: inherit;
    }
  }
}

.nav-open {
  .mobile-nav {
    transform: translateX(0);
    opacity: 1;
  }

  .mobile-backdrop {
    display: block;
  }
}

.mobile-backdrop {
  z-index: 299;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
