@include mediaMd {
  .header-tabs {
    display: none !important;
  }

  .header-logo {
      margin-left: 0 !important;
  }

  .header-content {
    padding: 0 1rem !important;
  }
}

@include mediaBig {
    .menu-btn {
        display: none;
    }
}
