@include mediaMd {
  .header-tabs {
    display: none !important;
  }

  header {
    .header-logo {
      margin-left: 1rem;

      img {
        height: 1.5rem;
      }
    }
  }

  footer {
    padding: 1rem;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;

    .footer-left {
        flex-direction: column;
        width: 100%;
        align-items: center;

        .footer-contact-details {
            margin-left: 0;
            margin-top: 1rem;
            align-items: center;
        }
    }

    .footer-right-social {
        display: none !important;
    }

    .footer-right {
        margin-top: 1rem;
        width: 100%;
    }
  }

  .header-content {
    padding: 0 1rem !important;
    justify-content: start !important;
  }
}

@include mediaBig {
  .mobile-menu-button {
    display: none;
  }
}
