@include mediaSm {
}

@include mediaMd {
  .header-tabs {
    display: none !important;
  }

  main {
    .content {
      padding: 2rem 1rem;
    }
  }

  header {
    .header-logo {
      margin-left: 1rem;

      img {
        height: 1.5rem;
      }
    }
  }

  footer {
    .footer-wrapper {
      padding: 1.75rem 1.75rem;
      flex-direction: column;
    }

    .footer-left {
      flex-direction: column;
      width: 100%;
      align-items: center;

      .footer-contact-details {
        margin-left: 0;
        margin-top: 1rem;
        align-items: center;
      }
    }

    .footer-right-social {
      display: none !important;
    }

    .footer-right {
      margin-top: 1rem;
      width: 100%;
    }
  }

  .header-content {
    padding: 0 1rem !important;
    justify-content: start !important;
  }

  .restaurants-grid {
    grid-template-columns: 1fr;
  }
}

@include mediaBig {
  .mobile-menu-button {
    display: none;
  }
}

@include mediaLg {
  .restaurants-grid {
    grid-template-columns: repeat(2, 1fr);

    .restaurant-item {
      align-self: stretch !important;
    }
  }
}
