.content {
  padding: 2rem;
}

.todays-menu {
  font-weight: 300;
  font-size: 3rem;
  padding: 2rem 1rem;
}

.restaurants-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;

  .restaurant-item {
    background: rgba(227, 87, 45, 0.1);
    border-radius: 0.75rem;
    min-height: 15rem;
    align-self: start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .restaurant-name {
      font-weight: 700;
      font-size: 3rem;
    }

    .restaurant-menu {
      display: flex;
      flex-direction: column;

      .menu-category {
        padding: 1rem 0;

        .menu-category-header {
          font-weight: 500;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }

        .menu-category-detail {
          margin-bottom: 0.5rem;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.nutrition-values {
  display: flex;

  // should have a tooltip or something
  .food-nutrition-tag {
    border-radius: 0.75rem;
    min-height: 1rem;
    padding: 0.25rem;
    background: green;
    min-width: 2rem;
    text-align: center;
    margin-right: 0.35rem;
    font-size: 0.75rem;
    border: 1px solid #0000003b;
    font-weight: 500;
    
    &.tag-1 {
      background: rgba(45, 87, 255, 0.3);
    }

    &.tag-2 {
      background: rgba(56, 187, 56, 0.3);
    }

    &.tag-3 {
      background: rgba(255, 87, 255, 0.3);
    }

    &.tag-4 {
      background: rgba(255, 22, 22, 0.3);
    }

    &.tag-5 {
      background: rgba(45, 44, 44, 0.3);
    }

    &.tag-6 {
      background: rgba(45, 87, 1, 0.3);
    }
  }
}
