.todays-menu {
  font-weight: 300;
  font-size: 3rem;
  padding: 2rem 1rem;
}

.restaurants-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  color: $text-color-dark;

  .restaurant-item {
    background: #eee;
    border-radius: 0.75rem;
    align-self: start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    @include defaultBorder;

    .restaurant-name {
      font-weight: 700;
      font-size: 3rem;
    }

    &.restaurant-1 {
      background: $pastelle-color-1;

      .restaurant-menu {
        background: $pastelle-color-1-darker;
        border: 1px solid color-darken($pastelle-color-1, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-1, 15%) !important;
        }
      }
    }

    &.restaurant-2 {
      background: $pastelle-color-2;

      .restaurant-menu {
        background: $pastelle-color-2-darker;
        border: 1px solid color-darken($pastelle-color-2, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-2, 15%) !important;
        }
      }
    }

    &.restaurant-3 {
      background: $pastelle-color-3;

      .restaurant-menu {
        background: $pastelle-color-3-darker;
        border: 1px solid color-darken($pastelle-color-3, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-3, 15%) !important;
        }
      }
    }

    &.restaurant-4 {
      background: $pastelle-color-4;

      .restaurant-menu {
        background: $pastelle-color-4-darker;
        border: 1px solid color-darken($pastelle-color-4, 15%) !important;

        .menu-category:not(:last-child) {
          border-bottom: 1px solid color-darken($pastelle-color-4, 15%) !important;
        }
      }
    }

    .restaurant-menu {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      @include applyRounded;

      .menu-category {
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }

        .menu-category-header {
          font-weight: 500;
          margin-bottom: 0.5rem;
          font-size: 1.1rem;
        }

        .menu-category-detail {
          margin-bottom: 0.5rem;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}

.nutrition-values {
  display: flex;

  // should have a tooltip or something
  .food-nutrition-tag {
    border-radius: 0.75rem;
    min-height: 1rem;
    padding: 0.25rem;
    background: green;
    min-width: 2rem;
    text-align: center;
    margin-right: 0.35rem;
    font-size: 0.75rem;
    border: 1px solid #0000003b;
    font-weight: 500;
    background: #fff;
  }
}
