@import 'config';
@import 'reset';
@import 'menu';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #424242;
  background-color: #f2f2f2;

  &.nav-open {
    //overflow: hidden;
  }
}

// https://stackoverflow.com/a/24951743
// Disable CSS transitions on page load
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
 }

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.content-wrapper > img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 3.5rem;
  z-index: 99;
  transition: box-shadow 0.25s ease-in-out;

  &.header-scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .header-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .header-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
  }

  .header-tab {
    padding: 0 1rem;
    min-width: 7rem;
    height: 100%;
    font-weight: 500;
    transition: color 0.2s ease-in-out, background-color 0.075s ease-in-out;

    a {
      color: inherit;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.selected {
      color: $primary-color;
      border-bottom: 3px solid $primary-color;

      &:hover {
        color: darken($primary-color, 15);
      }
    }

    &:hover {
      background: rgba($primary-color, 0.05);
      cursor: pointer;
      color: #000;
    }
  }

  .header-logo {
    margin-left: 2rem;

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    img {
      height: 2rem;
      width: auto;
    }
  }
}

main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  .content-wrapper {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
  }

  .content {
    height: 500px;
    background: #fff;
  }
}

footer {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  position: relative;
  background: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;

  .footer-left {
    display: flex;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;

    .footer-contact-image img {
      height: 3rem;
      width: auto;
    }
  }

  .footer-contact-details {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-left: 3rem;

    span {
      padding: 0.25rem 0;
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-right-social {
      flex: 1;
      display: flex;
      align-items: flex-end;
      font-weight: 500;
      margin-bottom: .3rem;
    }
  }

  .footer-social-media-icons {
    display: flex;
    flex-direction: row;

    .footer-social-media-icon {
      padding: 0 0.5rem;
      cursor: pointer;

      svg {
        width: 1.5rem;
        height: auto;
        fill: #fff;
      }
    }
  }
}

@import 'mobile';
