@import 'config';
@import 'reset';
@import 'menu';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #424242;
  background-color: #f2f2f2;
}

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.content-wrapper > img {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  height: 3.5rem;
  z-index: 99;
  transition: box-shadow 0.25s ease-in-out;

  &.header-scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .header-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .header-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5rem;
  }

  .header-tab {
    padding: 0 1rem;
    min-width: 7rem;
    height: 100%;
    font-weight: 500;
    color: #000;

    a {
      color: inherit;
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.selected {
      font-weight: 700;
      border-bottom: 3px solid $primary-color;
    }

    &:hover {
      background: rgba($primary-color, 0.05);
      cursor: pointer;
    }
  }

  .header-logo {
    margin-left: 2rem;

    a {
      height: 100%;
      display: flex;
      align-items: center;
    }

    img {
      height: 2rem;
      width: auto;
    }
  }
}

main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;

  .content-wrapper {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
  }

  .content {
    //width: 768px;
    /* margin-top: 2rem; */
    height: 1500px;
    background: #fff;
  }
}

footer {
  margin: 0 auto;
  width: 100%;
  max-width: 80rem;
  position: relative;
  height: 5rem;
  background: $primary-color;
}

@import 'mobile';
